<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{table.material}}</h1>
    {{table.unit}}

    <table>
        <tr>
            <th>Field 1</th>
            <th>Field N</th>
        </tr>
        {% for item in table %}
        <tr> 
            <td>{{ item.material }}</td>
            <td>{{ item.unit }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>



